
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logodiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}

.logodiv p{
    letter-spacing: 5px;
    margin-left: 75px;
}
nav{
    margin-right: 50px;
}
.bodyimg{ 
    background: url("./images/ET-removebg-preview.png");
    height: 100vh;
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
   

    
}

.explore{
    color: rgb(9, 56, 44);
    padding-top: 15vh;
    padding-left: 5vh;
    font-size: 10vh;
    
}

.book{
    text-decoration: none;
    font-size: 5vh;
        color: rgb(37, 6, 122);
        height: 17vh;
        padding: 1.6vh;
        padding-bottom: 1vh;
        width: 10vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
        transition:1s;
    }
    .book:hover{
        background-color: rgb(66, 230, 61);
        color: white;
    }
    .book:active{
        opacity: 0.4;
    }
.ready{
    padding-top: 5vh;
    margin-left:5vh ;
    font-display:inherit;
    color:rgb(0, 90, 12);
    text-shadow: 1px 1px cornflowerblue;
}
.Account{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    height: 2vh;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding: 1.6vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.login:hover{
    box-shadow: 2px;
    
}
.signup{
    text-decoration: none;
    color: black;
    padding: 1.6vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.logo{
    height: 14vh;
    padding-left: 13vh;
}
.Avaition{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.Loyalty{
    text-decoration: none;
    color: black;
    padding: 1.6vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
       
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.plan{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.Contact{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
       
}

.top{
    background:url("../img/pexels-photo-1379636.jpeg") no-repeat  ;
    background-size: cover;
    height:120px;
    color:white;
    padding:70px 0 0 150px;
}
.paragCont{
    margin-left:100px ;
}
.parag{
    width:990px;
    height: 360px;
    
    font-size: 19px;
}
.parag strong{
    color:red
}
   
      footer{
        display:flex;
        gap:100px;
       border-top: 1px solid black;
       background-color: #b6b2b2;
        padding: 25px 0;
      }
      .footerLeft{
        
        width:300px;
        height:180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
      }
      .footerLeft a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
      }
      .footerRight{
       
        width:300px;
        height:90px;
        display: flex;
        gap:35px;
      }
      .footerRight img{
        width:40px;
        height:40px;
      }