*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logodiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}

.logodiv p{
    letter-spacing: 5px;
    margin-left: 75px;
}
nav{
    margin-right: 50px;
}
.your-flight{

}

.explore{
    color: rgb(9, 56, 44);
    padding-top: 15vh;
    padding-left: 5vh;
    font-size: 10vh;
    
}

.book{
    text-decoration: none;
    font-size: 5vh;
        color: rgb(37, 6, 122);
        height: 17vh;
        padding: 1.6vh;
        padding-bottom: 1vh;
        width: 10vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
        transition:1s;
    }
    .book:hover{
        background-color: rgb(66, 230, 61);
        color: white;
    }
    .book:active{
        opacity: 0.4;
    }
.ready{
    padding-top: 5vh;
    margin-left:5vh ;
    font-display:inherit;
    color:rgb(0, 90, 12);
    text-shadow: 1px 1px cornflowerblue;
}
.Account{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    height: 2vh;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding: 1.6vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.login:hover{
    box-shadow: 2px;
    
}
.signup{
    text-decoration: none;
    color: black;
    padding: 1.6vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.logo{
    height: 14vh;
    padding-left: 13vh;
}
.Avaition{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.plan{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
        margin-right: 3vh;
}
.Contact{
    text-decoration: none;
    color: black;
    padding-left: 1vh;
    font-size: 3vh;
    margin-top: none;
    background-color:  rgb(41, 211, 78);;
        border-color: rgb(41, 211, 78);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 17vh;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-bottom: 1vh;
        width: 2vh;
        border-radius: 10vh;
        cursor: pointer;
       
}

.container{
    height: 100vh;
   background: url("./img/_105910420_ethiopianairlines.jpg") no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:120px;
}
.left{
    
}

form{

    background-color:rgb(130, 131, 132);
    color: rgb(3, 46, 83);
    font-weight: bold;
    width:500px;
    height:580px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:35px;
    gap:5px;
    opacity: 0.8;
}
form h1{
    color: rgb(137, 248, 248);
    text-align: center;
   
}
form p{
    font-weight: bold;
    font-size: 24px;
    font-style: Comic ;
    color:rgb(137, 248, 248);
    text-align: center;
}
input{
    padding: 15px;
    width:400px;
    border-radius: 8px;
}
input:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px,transparent -12 -12px 0 inset;
    transform: translateY(-2px);
    color: green;}
button{
    background-color:rgb(0, 255, 98);
    padding: 13px 0px;
    align-content: center;
    font-size: 18px;

}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.radios{
    display: flex;
    width:300px;
    margin-bottom: 10px;
    font-size: 20px;
}



      footer{
        display:flex;
        gap:100px;
       border-top: 1px solid black;
       background-color: #b6b2b2;
        padding: 25px 0;
      }
      .footerLeft{
        
        width:300px;
        height:180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 390px;
      
      }
      .footerLeft a{
        font-size: 20px;
        color:grey;
        text-decoration: none;
      }
      .footerRight{
       
        width:300px;
        height:90px;
        display: flex;
        gap:35px;
      }
      .footerRight img{
        width:40px;
        height:40px;
      }

      
  @media only screen and (max-width: 800px) {
    nav{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      
      width:400px;
      height:300px;
    }
    .plan, .signup, .Avaition, .Contact, .Account{
      padding:17px;
      width:200px;
      height:25px;
    }
    .container{
    
      height: 1200px;
        background-size: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        
    }
    header{
      
        padding-right: 150px;
    }
     }