*{
  margin-top: 0px;
}

html{
    font-family: Arial;
  }
  body{
    background-image:url(../homePage/images/plane\ 2.jpg) ;
    background-repeat: no-repeat;
  
  }
  .wrapper{
    width: 720px;
    height: 610px;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.362);
    color: white;
    border-radius: 10px;
    padding:30px 40px;
    align-items: center;
    margin-left: 320px;
    margin-top: 30px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 20px;
    background: transparent;
    border: none;
    outline: none;
    border:3px solid rgba(255,255,255, .362) ;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2) ;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px ;
    margin-bottom: 10px;
    
}
.link{
    margin-left: 140px;
}
.link-1{
    cursor: pointer;
}

.input-box input::placeholder{
    color: white;
}
.box{
    width: 20px;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
a{
    color: rgba(52, 232, 32, 0.993);
}
.wrapper .remember-forget{
    display: flex;
    flex-direction: row;
    font-size: 14.5px;
    margin: -15px 5 15px;

}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 30px;

}
.remember-forget :hover{
    text-decoration:underline ;
}
.wrapper .btn{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
}
.wrapper .btn:hover{
    background-color: rgb(30, 30, 53);
}
.wrapper .register-link{
    color: #fff;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p {
    color:#fff;
    text-decoration: none;
    font-weight: 600;

}
.register-link p s :hover{
    text-decoration: underline;

}
.user{
    width: 30px;
    
}